body {
    font-family: Arial, sans-serif;
    height: 100vh; /* Use viewport height to make sure the body takes the full height of the viewport */
    margin: 16px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    background-color: #ffffff;
    color: #202124;
    min-width: 400px;
}

.header-links {
    position: absolute;
    top: 24px;
    right: 16px;
    font-size: 14px;
}

.header-links a {
    margin-left: 40px;
    text-decoration: none;
    color: #202124;
}

.form-section {
    padding: 20px;
    box-sizing: border-box;
}

form {
    display: block;
}

.form-elements {
    margin: 0 auto;
    max-width: 584px;
    padding-top: 6px;
    position: relative;
}

.rounded-text {
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    padding: 5px 8px 0 14px;
    background: #ffffff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    width: 584px;
    transition: box-shadow 0.1s ease; /* Add transition for smooth effect */
}

.rounded-text:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0); /* Apply box shadow on hover */
}

.form-btns {
    height: 70px;
    padding-top: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 12px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.reg-btn:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

/* Advance Search Page */

.adv-sch-header {
    width: 100%;
    align-items: left;
    color: #d93025;
    font-size: 20px;
    margin: 32px;
    padding-left: 16px;
}

.grey-divider {
    width: 100%;
    border-bottom: 1px solid #ebebeb;
}

.label-title {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.usage-title {
    font-size: 13px;
    font-weight: 700;
    color: #777;
    padding-left: 10px;
}

.adv-form-section {
    width: 100%;
    margin: 40px 16px 0 45px;
}

.adv-form-elements {
    display: flex;
    flex-direction: column;
}

.adv-row {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: flex-start;
    padding-top: 18px;
}

.adv-label,
.adv-textarea,
.adv-usage, {
    box-sizing: border-box;
    padding: 5px;
}

.adv-label {
    font-size: 14px;
    text-align: left;
    min-width: 167px;
    width: 16%;
}

.adv-textarea {
    width: 50%;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 14px;
    height: 44px;
    padding: 1px 8px;
}

.adv-textarea:focus {
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
    border: 1px solid #4d90fe;
    outline: none;
}

.adv-usage {
    width: 32%;
    min-width: 160px;
    margin: 0 0 8px 1%;
    color: #555;
    font-size: 11px;
    padding-left: 5px;
}

.usage-txt {
    color: #666;
    font-family: monospace;
    font-size: 11px;
}

.adv-form-btn {
    display: flex;
    flex-direction: row;
    width: 66%;
    justify-content: right;
    margin-top: 10px;
}

.adv-btn {
    border: 1px solid #3079ed;
    color: #fff;
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    user-select: none;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
}

.adv-btn:hover {
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    border: 1px solid #2f5bb7;
    border-image: initial;
}


@media (max-width: 1070px) {
    .adv-usage {
        display: none;
    }

    .adv-textarea {
        width: 82%;
    }

    .adv-form-btn {
        width: 100%;
    }
}