body {
    font-family: Arial, sans-serif;
    height: 100vh; /* Use viewport height to make sure the body takes the full height of the viewport */
    margin: 8px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    background-color: #ffffff;
    color: #202124;
    min-width: 400px;
}

.header-links {
    position: absolute;
    top: 24px;
    right: 16px;
    font-size: 14px;
}

.header-links a {
    margin-left: 40px;
    text-decoration: none;
    color: #202124;
}

.form-section {
    padding: 20px;
    box-sizing: border-box;
}

form {
    display: block;
}

.form-elements {
    margin: 0 auto;
    max-width: 584px;
    padding-top: 6px;
    position: relative;
}

.rounded-text {
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    padding: 5px 8px 0 14px;
    background: #ffffff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    width: 584px;
    transition: box-shadow 0.1s ease; /* Add transition for smooth effect */
}

.rounded-text:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0); /* Apply box shadow on hover */
}

.form-btns {
    height: 70px;
    padding-top: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

/* Advance Search Page */

.adv-sch-header {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.adv-form-section {
    width: 100%;
    margin: 40px 2% 0 45px;
    background-color: red;
}

.adv-form-elements {
    display: flex;
    flex-direction: column;
}

.adv-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.adv-label,
.adv-textarea {
    box-sizing: border-box;
    padding: 5px;
}

.adv-label {
    text-align: left;
    width: 50%;
}

.adv-textarea {
    margin-left: 5px; /* Add margin between label and textarea */
    width: 50%;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}

.adv-textarea:focus {
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
    border: 1px solid #4d90fe;
    outline: none;
}

@media (max-width: 600px) {
    .adv-label,
    .adv-textarea {
        width: 100%;
        text-align: left;
        margin-left: 0;
    }
}
